@inject HttpClient Http
@using Newtonsoft.Json;
@using Financial.Chat.Domain.Shared.Entity;
@inject IJSRuntime JSRuntime;
@inject NavigationManager UriHelper;

@page "/login"

<div class="container">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" class="form-control" @bind="@email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" @bind="@password" />
    </div>

    <button class="btn btn-primary" @onclick="DoLogin">Log In</button>
    <button class="btn btn-secondary" @onclick="NavigatetoNextComponent">Register new user</button>
    <span class="text-danger">@loginErrorMessage</span>
</div>
@code {
    string email = "";
    string password = "";
    string loginErrorMessage = "";

    protected async Task DoLogin()
    {
        var content = new StringContent(content: JsonConvert.SerializeObject(new { email, password }), encoding: System.Text.Encoding.UTF8, mediaType: "application/json");
        var response = (await Http.PostAsync("http://localhost:55677/api/login", content));
        var actionResult = JsonConvert.DeserializeObject<ApiOkReturn>(await response.Content.ReadAsStringAsync());
        var token = JsonConvert.DeserializeObject<TokenJWT>(JsonConvert.SerializeObject(actionResult.data));
        if (token != null)
        {
            await JSRuntime.InvokeAsync<string>("wasmHelper.saveAccessEmail", email);
            await JSRuntime.InvokeAsync<string>("wasmHelper.saveAccessToken", token.Token);
            UriHelper.NavigateTo("Home");
        }
        else
            loginErrorMessage = "user invalid";
    }

    void NavigatetoNextComponent()
    {
        UriHelper.NavigateTo("Register");
    }
}